.App {
  background-color: #071a1a;
  width: 100vh;
}

.navBg {
  background-color: rgba(255, 255, 255, 0.1);
  mix-blend-mode: difference;
}

.home {
  background-color: #071a1a;
  min-height: 80vh;
  padding-top: 100px;
}

.cardBg {
  background-color: #f9f7f5;
  position: relative;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  border-radius: 30px;
  min-height: 80vh;
  width: 95vw;
  padding-top: 90px;
}

.monolithic {
  background-color: white;
  min-height: 80vh;
}

.headerGreen {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e2fdd0;
  height: 80px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 0;
}

.conclude {
  background-color: #071a1a;
  min-height: 80vh;
}

.title {
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: italic;
}

.txtClassic {
  font-weight: 200 !important;
  font-size: 28px !important;
}

.fontChange {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.pointTitle {
  font-size: 26px;
  font-weight: 300;
}

.sub {
  font-weight: 200;
}

.subBig {
  font-weight: 100;
  font-size: 22px;
}

.desc {
  font-weight: 100;
}

.colPoints {
  padding-left: 30px !important;
}

.archiImg{
  width: 100%;
  height: 80%;
  margin-top: 40px !important;
}

.fade-in {
  animation: fadeIn 2s;
}

.homeImg {
  width: 50%;
  height: auto;
}

.botCard {
  background-color: #e2fecf !important;
  width: 100%;
  min-height: 50vh;
  border-radius: 30px !important;
  padding: 20px;
}

.cardBodygreen {
  padding: 40px;
}

.cardEnd {
  min-height: 120px;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.cardEnd:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  backface-visibility: hidden;

  /* Just styling the text nicely */
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-front {
  background-color: #000000;
  z-index: 1;
  color: white;
  border-color: #e2fecf;
  border-width: 1px;
}

.card-back {
  background-color: #e2fecf;
  transform: rotateY(180deg);;
}

.cardDesc {
  font-size: 20px;
  font-weight: 200;
}

.fade-in-down {
  animation: fade-in-down 5s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
